:root {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);

  /* Breakpoint */
  --desktop-breakpoint: 1000px;

  /* General Pading */
  --padding-inline-mobile: clamp(2rem, 5%, 16.2rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "Alata", sans-serif;
}

img {
  width: 100%;
}
